.search-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1045px;
    /* background-color: blueviolet; */
    padding: 10px 40px;
}


.wishing-hero{
    display: flex;
    align-items: center;
    gap: 10px;
}

.wishing-photo{
    width:50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
}

.wish-txt{
    display: flex;
    flex-direction: column;
}

.wish-txt-i{
    margin: 0;
    font-size: 20px;
}

.wish-txt-ii{
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: rgb(36, 36, 36);
}