.App{
    margin: 60px auto;
    display: flex;

}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.home{
    flex: 6;
}

.sidehome{
    flex: 4;
    /* border-left: solid 1px; */
    background-color:whitesmoke;
    border-radius: 40px 0 0 10px;
}