.App{
    margin: 60px auto;
    display: flex;
    /* overflow: hidden; */
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.home{
    flex: 6;
}

.sidehome{
    flex: 4;
    /* border-left: solid 1px; */
    background-color:#E1E0F8;
    border-radius: 40px 0 0 10px;
    box-shadow: -1px 2px 20px -8px rgba(0, 0, 0, 0.586);
}